<!--Shared form to new, edit-->
<% if @article.errors.any? %>
    <h2>Create article has error!</h2>
    <ul>
        <% @article.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <%end%>
    </ul>
<%end%>

<%= form_for @article do |n| %>
    <!--Input new title-->
    <p>
        <%= n.label :title %>
        <br>
        <%= n.text_field :title %>
    </p>
    <!--Input new description-->
    <p>
        <%= n.label :description %>
        <br>
        <%= n.text_area :description %>
    </p>
    <!--Submit new article-->
    <p>
        <%= n.submit %>
    </p>
<%end%>
<p>
    <%= link_to 'List article', articles_path%>
</p>